{% include 'flashes.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Doctor Dashboard</h1>
        <div class="mt-4">
            <a href="/doctor/change_password" class="btn btn-primary btn-lg">Change Password</a>
            <a href="/doctor/change_cost" class="btn btn-secondary btn-lg">Change Cost</a>
            <a href="/doctor/view_doctor_appointments" class="btn btn-secondary btn-lg">Future Appointments</a>
        </div>
        <div class="mt-4">
            <a class="btn btn-danger" href="/logout">Logout</a>
        </div>
    </div>
</body>
</html>