{% include 'flashes.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Doctor</title>
</head>
<body>
    <h1>Delete Doctor</h1>
    <form action="/admin/delete_doctor" method="POST">
        <label for="doctor_username">Doctor Username:</label>
        <input type="text" id="doctor_username" name="doctor_username" required>
        <br>
        <button type="submit">Delete Doctor</button>
    </form>
</body>
</html>
